.login {
  height: 100%;
  min-width: 900px;
  box-sizing: border-box;
  overflow: auto;
  .login_left {
    position: relative;
    float: left;
    width: 60%;
    height: 100%;
     //background: #ff8152;
    background: linear-gradient(to right, rgb(255, 216, 94) , rgb(255, 85, 105));
  }
  .app_name {
    position: absolute;
    top: 40%;
    right: 0;
    font-size: 36px;
    color: #fff;
    padding-right: 80px;
    text-align: right;
    transform: translateY(-50%);
  }
  .title {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 20px;
  }
  .sub_title {
    font-size: 30px;
    line-height: 40px;
    //text-transform: capitalize;
  }
  @media (max-width: 1400px) {
    .app_name {
      padding-right: 40px;
    }
    .title {
      font-size: 36px;
    }
    .sub_title {
      font-size: 24px;
    }
  }
  .login_right {
    height: 100%;
    width: 40%;
    float: left;
    position: relative;
    overflow: hidden;
  }
  .tips_360 {
    font-size: 16px;
    margin: 20px;
  }
  .el-input {
    max-width: 100%;
    .el-input__inner {
      max-width: 100%;
    }
  }
  h3 {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 20px;
  }
  .login_box {
    width: 100%;
    padding: 0 20px;
    position: absolute;
    top: 40%;
    left: 50%;
    // left: 200%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    transition: all 1s linear;
  }
  .formWrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 460px;
    border: 1px solid #bfcbd9;
    text-align: center;
    padding: 20px 30px;
    border-radius: 4px;
    box-shadow: 2px 1px 10px #bfcbd9;
    opacity: .9;
    box-sizing: border-box;
  }
  .formWrapper:hover {
    box-shadow: 2px 1px 20px #bfcbd9;
    opacity: 1;
  }
  .login_btn {
    margin-top: 30px;
    button{
      background: #ff8152;
      border: none;
    }
    button:hover{
      background: #ff5468;
      border: none;
    }
  }
  .app_time {
    position: absolute;
    bottom: 0;
    left: 0;
    color: #f7f7f7;
    font-size: 12px;
    padding: 4px 6px;
    cursor: pointer;
  }
}
