.app_menu {
  width: 230px;
  float: left;
  height: 100%;
  background-color: #EEF1F6;
  overflow: auto;
  .app_menu_inner {
    padding-bottom: 40px;
  }
  .el-menu-item{
    a{
      color: #48576a;
      display: block;
      width: 100%;
      height: 100%;
      text-decoration: none;
    }
  }
  .el-menu-item.is-active {
    a{
      color: #20a0ff;
    }
  }
}